/**********************
    Global rules
***********************/
img, embed, object, video {
    max-width: 100%;
    height: auto;
}

body {
    color: #2d3c49;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

/* .responsive-image {
    max-width: 100%;
    height: auto;
} */

#featured-work-h2 {
    color: #7d97ad;
}

/*******************
    Header Styles
********************/
.header-text {
    text-transform: uppercase;
    text-align: right;
    margin: 0;
}

/* #header-imgDiv {
    text-align: center;
    max-width: 100%;
    height: auto;
    overflow: hidden;    */
}

/***********************
    Featured Work Divs
************************/
.content, .featured-work {
    display: flex;
    flex-wrap: wrap;
}

.featured-projects {
    width: 100%;
    height: auto;    
    margin-bottom: 0.3em;
}


/***********************
    MEDIA QUERIES
************************/
@media screen and (max-width: 400px) {
    #header-name {
        font-size: 1.3em;
    }

    #header-title {
        font-size: 0.8em;
    }

    .featured-projects {
        width: 100%
    }    
}