/*
*Global style rules
*/
body {
    color: #2d3c49;
}

/*
*Header text
*/
.header-text {
    text-transform: uppercase;
    text-align: right;
}

/*
*Featured Work Divs
*/
.featured-projects {
    border: 2px solid red;
    height: auto;
}

/*
*Making content flex
*/
.featured-work {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/*
*MEDIA QUERIES
*/
@media screen and (max-width: 400px) {
    #header-name {
        font-size: 1.3em;
    }

    #header-title {
        font-size: 0.8em;
    }

    #project1, #project2 {
        width: 50%
    }
    
}