body {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

img {
	width: 500px;
  	/*border-radius: 20px 40px; */
}

#interesting-fact {
	font-style: italic;
}

span {
	font-weight: bold;
}

ul {
	list-style-type: none;
  	padding: 0;
}

#container, img, #card {
	border: 2px solid grey;
}

#container, #card {
	padding: 1px 15px 10px 15px;
    box-shadow: 5px 3px lightgrey;
}